<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Perretes</title>
    <link rel="stylesheet" href="/stylesheets/socradog.css" />
  </head>

  <body>
    <header>
      <nav>
        <div class="logo">
          <img class="logo__imagen" src="./images/logoPerro.png" alt="logo" />
          <p class="logo__nombre">SocraDog</p>
        </div>
        <div class="cuidadores">
          <a href="/">home</a>
          <a href="/cars/allCars">nuestros coches</a>
          <a href="/cars/createCar">crear Coches</a>
        </div>
      </nav>
    </header>

    <main>
      <section class="imgportada">
        <div class="titple__portada imgportada__imagen">
          <h1>
            Ecuentra al cuidador ideal y dale a tu mascota todo lo que se merece
          </h1>
        </div>
      </section>

      <section class="valores container">
        <article class="valoresArticle">
          <div class="valoresArticle__imagen">
            <img src="./images/personas.png" alt="" />
          </div>
          <h2>Nuestros cuidadores</h2>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum
            blanditiis quaerat fugit harum ipsum possimus officia illo ut iste
            quibusdam!
          </p>
        </article>
        <article class="valoresArticle">
          <div class="valoresArticle__imagen">
            <img src="./images/corazon.png" alt="" />
          </div>

          <h2>Cuidamos su salud</h2>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum
            blanditiis quaerat fugit harum ipsum possimus officia illo ut iste
            quibusdam!
          </p>
        </article>
        <article class="valoresArticle">
          <div class="valoresArticle__imagen">
            <img src="./images/perro.png" alt="" />
          </div>

          <h2>Los mejores paseos</h2>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum
            blanditiis quaerat fugit harum ipsum possimus officia illo ut iste
            quibusdam!
          </p>
        </article>
        <article class="valoresArticle">
          <div class="valoresArticle__imagen">
            <img src="./images/perrera.png" alt="" />
          </div>

          <h2>Alojamiento</h2>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum
            blanditiis quaerat fugit harum ipsum possimus officia illo ut iste
            quibusdam!
          </p>
        </article>
      </section>
      <div class="portada2 container-fw"></div>
      <div class="contenedorGaleria">
        <section class="conoce container">
          <h2>Conoce a nuestros amigos</h2>
          <div class="conoce__galeria">
            <article class="cardConoce">
              <h3>Gru</h3>
              <div class="cardConoce__imagen">
                <img src="./images/dog1.jpg" alt="" />
              </div>
            </article>
            <article class="cardConoce">
              <h3>Fitoo</h3>
              <div class="cardConoce__imagen">
                <img src="./images/dog2.jpg" alt="" />
              </div>
            </article>
            <article class="cardConoce">
              <h3>Matilda</h3>
              <div class="cardConoce__imagen">
                <img src="./images/dog3.jpg" alt="" />
              </div>
            </article>
            <article class="cardConoce">
              <h3>Dama</h3>
              <div class="cardConoce__imagen">
                <img src="./images/dog4.jpg" alt="" />
              </div>
            </article>
            <article class="cardConoce">
              <h3>Rufo</h3>
              <div class="cardConoce__imagen">
                <img src="./images/dog5.jpg" alt="" />
              </div>
            </article>
            <article class="cardConoce">
              <h3>Thor</h3>
              <div class="cardConoce__imagen">
                <img src="./images/dog6.jpg" alt="" />
              </div>
            </article>
            <article class="cardConoce">
              <h3>Canela</h3>
              <div class="cardConoce__imagen">
                <img src="./images/dog7.jpg" alt="" />
              </div>
            </article>
            <article class="cardConoce">
              <h3>Sultán</h3>
              <div class="cardConoce__imagen">
                <img src="./images/dog8.jpg" alt="" />
              </div>
            </article>
          </div>
        </section>
      </div>
    </main>
    <footer class="pie container-fw">
      <div class="iconosFooter">
        <img
          src="./images/instagram.png"
          alt=" logo Red social 
        Instagram"
        />
      </div>
      <div class="iconosFooter">
        <img src="./images/logotipo-de-linkedin.png" alt="logo linkedin" />
      </div>
      <div class="iconosFooter">
        <img
          src="./images/instagram.png"
          alt=" logo Red social 
        Instagram"
        />
      </div>
      <div class="iconosFooter">
        <img src="./images/logotipo-de-linkedin.png" alt="logo linkedin" />
      </div>
    </footer>
  </body>
</html>
