<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/product.css" />
    <title>Formulario</title>
  </head>
  <body>
    <form action="/product" method="post">
      <label for="name">Nombre del producto</label>
      <input type="text" id="name" name="name" />
      <br />
      <br />
      <label for="category">Categoría del producto</label>
      <input type="text" id="category" name="category" />
      <br />
      <br />
      <button type="submit">Guardar</button>
    </form>
  </body>
</html>
